# Series

In [1]:
import pandas as pd

## Create a Series Object from a List
- A pandas **Series** is a one-dimensional labelled array.
- A Series combines the best features of a list and a dictionary.
- A Series maintains a single collection of ordered values (i.e. a single column of data).
- We can assign each value an identifier, which does not have to *be* unique.

In [3]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [6]:
lottery_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lottery_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
registrations = [True, False, False, False, True]
pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

## Create a Series Object from a Dictionary

In [8]:
sushi = {
    "Salmon": "Orange",
    "Tuna": "Red",
    "Eel": "Brown"
}
pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

## Intro to Series Methods
- The syntax to invoke a method on any object is `object.method()`.
- The `sum` method adds together the **Series'** values.
- The `product` method multiplies the **Series'** values.
- The `mean` method finds the average of the **Series'** values.
- The `std` method finds the standard deviation of the **Series'** values.

In [12]:
prices = pd.Series([2.99, 4.45, 1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [13]:
prices.sum()

np.float64(8.8)

In [14]:
prices.product()

np.float64(18.095480000000006)

In [15]:
prices.mean()

np.float64(2.9333333333333336)

In [16]:
prices.std()

1.5457791994115246

## Intro to Attributes
- An **attribute** is a piece of data that lives on an object.
- An **attribute** is a fact, a detail, a characteristic of the object.
- Access an attribute with `object.attribute` syntax.
- The `size` attribute returns a count of the number of values in the **Series**.
- The `is_unique` attribute returns True if the **Series** has no duplicate values.
- The `values` and `index` attributes return the underlying objects that holds the **Series'** values and index labels.

In [18]:
adjectives = pd.Series(["Smart", "Handsome", "Charming", "Brilliant", "Humble", "Smart"])
adjectives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
5        Smart
dtype: object

In [19]:
adjectives.size

6

In [20]:
adjectives.is_unique

False

In [21]:
adjectives_unique = pd.Series(["Handsome", "Charming", "Brilliant", "Humble", "Smart"])
adjectives_unique

0     Handsome
1     Charming
2    Brilliant
3       Humble
4        Smart
dtype: object

In [22]:
adjectives_unique.is_unique

True

In [23]:
adjectives.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble', 'Smart'],
      dtype=object)

In [24]:
adjectives.index

RangeIndex(start=0, stop=6, step=1)

In [25]:
type(5)

int

In [26]:
type(adjectives.values)

numpy.ndarray

In [27]:
type(adjectives.index)

pandas.core.indexes.range.RangeIndex

## Parameters and Arguments
- A **parameter** is the name for an expected input to a function/method/class instantiation.
- An **argument** is the concrete value we provide for a parameter during invocation.
- We can pass arguments either sequentially (based on parameter order) or with explicit parameter names written out.
- The first two parameters for the **Series** constructor are `data` and `index`, which represent the values and the index labels.

In [2]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry", "Watermelon"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]

In [9]:
pd.Series(fruits)
pd.Series(weekdays)
pd.Series(fruits, weekdays)

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object

In [11]:
pd.Series(index=weekdays, data=fruits)
pd.Series(data=fruits, index=weekdays)

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object

In [12]:
pd.Series(fruits, index=weekdays)

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object

In [13]:
pd.Series(fruits)

0         Apple
1        Orange
2          Plum
3         Grape
4     Blueberry
5    Watermelon
dtype: object

In [14]:
pd.Series()

Series([], dtype: object)

## Import Series with the pd.read_csv Function
- A **CSV** is a plain text file that uses line breaks to separate rows and commas to separate row values.
- Pandas ships with many different `read_` functions for different types of files.
- The `read_csv` function accepts many different parameters. The first one specifies the file name/path.
- The `read_csv` function will import the dataset as a **DataFrame**, a 2-dimensional table.
- The `usecols` parameter accepts a list of the column(s) to import.
- The `squeeze` method converts a **DataFrame** to a **Series**.

In [20]:
pd.Series([1, 2, 3]) #one dimensional, only need one piece of information (index/row)

0    1
1    2
2    3
dtype: int64

In [21]:
pd.read_csv("pokemon.csv")#tw0 dimensional,  need 2 piece of information (index/row and column/')

              Name              Type
0        Bulbasaur     Grass, Poison
1          Ivysaur     Grass, Poison
2         Venusaur     Grass, Poison
3       Charmander              Fire
4       Charmeleon              Fire
...            ...               ...
1005  Iron Valiant   Fairy, Fighting
1006      Koraidon  Fighting, Dragon
1007      Miraidon  Electric, Dragon
1008  Walking Wake     Water, Dragon
1009   Iron Leaves    Grass, Psychic

[1010 rows x 2 columns]

In [24]:
pd.read_csv("pokemon.csv", usecols=["Name"])

              Name
0        Bulbasaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

In [25]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze() #Df with one column -> Series object
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [31]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze()
google

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

## The head and tail Methods
- The `head` method returns a number of rows from the top/beginning of the `Series`.
- The `tail` method returns a number of rows from the bottom/end of the `Series`.

In [34]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")

In [37]:
pokemon.head()
pokemon.head(5)
pokemon.head(n=5)
pokemon.head(8)
pokemon.head(1)

0    Bulbasaur
Name: Name, dtype: object

In [41]:
google.tail()
google.tail(5)
google.tail(7)
google.tail(2)

4791    137.050003
4792    138.429993
Name: Price, dtype: float64

## Passing Series to Python's Built-In Functions
- The `len` function returns the length of the **Series**.
- The `type` function returns the type of an object.
- The `list` function converts the **Series** to a list.
- The `dict` function converts the **Series** to a dictionary.
- The `sorted` function converts the **Series** to a sorted list.
- The `max` function returns the largest value in the **Series**.
- The `min` function returns the smalllest value in the **Series**.

In [42]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")

In [43]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [55]:
len(pokemon) #1010
type(pokemon) #pandas.core.series.Series
list(pokemon) #Transform pandas series to list
sorted(pokemon) #sorted and get list
type(sorted(pokemon))

sorted(google)
dict(pokemon)
max(pokemon) #largest value - Zygarde
max(google) #151.863495
min(google)#2.47049
min(pokemon)

'Abomasnow'

## Check for Inclusion with Python's in Keyword
- The `in` keyword checks if a value exists within an object.
- The `in` keyword will look for a value in the **Series's** index.
- Use the `index` and `values` attributes to access "nested" objects within the **Series**.
- Combine the `in` keyword with `values` to search within the **Series's** values.

In [56]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")

pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [67]:
"car" in "racecar"
2 in [3, 2, 1]

"Bulbasaur" in pokemon #False - series looks by index, index is the key
0 in pokemon
0 in pokemon.index
pokemon.index #RangeIndex(start=0, stop=1010, step=1)

pokemon.values
"Bulbasaur" in pokemon.values
"Pikachu" in pokemon.values
"Nonsense" in pokemon.values

False

## The sort_values Method
- The `sort_values` method sorts a **Series** values in order.
- By default, pandas applies an ascending sort (smallest to largest).
- Customize the sort order with the `ascending` parameter.

In [68]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")

google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [71]:
google.sort_values()
google.sort_values(ascending=False)
google.sort_values(ascending=False).head(5)

4395    151.863495
4345    151.000000
4346    150.141754
4341    150.000000
4336    150.000000
Name: Price, dtype: float64

In [76]:
pokemon.head()
pokemon.sort_values()
pokemon.sort_values(ascending=True)
pokemon.sort_values(ascending=False).tail(5)

680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Name, dtype: object

## The sort_index Method
- The `sort_index` method sorts a **Series** by its index.
- The `sort_index` method also accepts an `ascending` parameter to set sort order.

In [82]:
pd.read_csv("pokemon.csv")

              Name              Type
0        Bulbasaur     Grass, Poison
1          Ivysaur     Grass, Poison
2         Venusaur     Grass, Poison
3       Charmander              Fire
4       Charmeleon              Fire
...            ...               ...
1005  Iron Valiant   Fairy, Fighting
1006      Koraidon  Fighting, Dragon
1007      Miraidon  Electric, Dragon
1008  Walking Wake     Water, Dragon
1009   Iron Leaves    Grass, Psychic

[1010 rows x 2 columns]

In [83]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [85]:
pokemon.sort_index()
pokemon.sort_index(ascending=False)

Name
Zygarde      Dragon, Ground
Zweilous       Dark, Dragon
Zubat        Poison, Flying
Zorua                  Dark
Zoroark                Dark
                  ...
Aegislash      Steel, Ghost
Accelgor                Bug
Absol                  Dark
Abra                Psychic
Abomasnow        Grass, Ice
Name: Type, Length: 1010, dtype: object

## Extract Series Value by Index Position
- Use the `iloc` accessor to extract a **Series** value by its index position.
- `iloc` is short for "index location".
- Python's list slicing syntaxes (slices, slices from start, slices to end, etc.) are supported with **Series** objects.

In [3]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [63]:
pokemon.iloc[500]

pokemon.iloc[[100, 200, 300]]

pokemon.iloc[27:36]
pokemon.iloc[0:7]

pokemon.sort_values(ascending=True).iloc[0:7]

pokemon.iloc[700:1010]
pokemon.iloc[700:]
pokemon.iloc[700:5000]

pokemon.iloc[-10:-5]
pokemon.iloc[-5:]

1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, dtype: object

# Extract Series Value by Index Label
- Use the `loc` accessor to extract a **Series** value by its index label.
- Pass a list to extract multiple values by index label.
- If one index label/position in the list does not exist, Pandas will raise an error.

In [67]:
pokemon = pd.read_csv("pokemon.csv", index_col=["Name"]).squeeze("columns")
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [69]:
pokemon.loc["Bulbasaur"]

'Grass, Poison'

In [79]:
pokemon.iloc[-10:]

pokemon["Bulbasaur"]
pokemon[0]

/var/folders/jr/_s2j1wdn0fqbpv0l1vk4sm400000gn/T/ipykernel_1251/2963834481.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  pokemon[0]

'Grass, Poison'

In [95]:
pokemon.loc["Mewtwo"]
pokemon.loc[["Mewtwo", "Jolteon", "Meowth"]]
pokemon.loc[["Mewtwo"]]

Name
Mewtwo    Psychic
Name: Type, dtype: object

## The get Method on a Series
- The `get` method extracts a **Series** value by index label. It is an alternative option to square brackets.
- The `get` method's second argument sets the fallback value to return if the label/position does not exist.

In [97]:
pokemon = pd.read_csv("pokemon.csv", index_col=["Name"]).squeeze("columns")
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [125]:
pokemon.get("Moltres")
pokemon.loc["Moltres"]

#pokemon.loc["Digimon"] -> Return an error because there is no row for the key
pokemon.get("Digimon")
pokemon.get("Digimon", "Nonexistent") # get method(value, default=None)
pokemon.get("Moltres", "Nonexistent")

pokemon.get(["Moltres", "Charmander", "Digimon"], "There is no value")
pokemon.get(0)

/var/folders/jr/_s2j1wdn0fqbpv0l1vk4sm400000gn/T/ipykernel_1251/4048069758.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  pokemon.get(0)

'Grass, Poison'

## Overwrite a Series Value
- Use the `loc/iloc` accessor to target an index label/position, then use an equal sign to provide a new value.

In [131]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [133]:
pokemon.iloc[0] = "Borisaur"

In [135]:
pokemon.head()

0      Borisaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [139]:
pokemon.iloc[[1, 2, 4]] = ["Fireman", "Falmenon", "Blazemon"]

In [141]:
pokemon.head()

0      Borisaur
1       Fireman
2      Falmenon
3    Charmander
4      Blazemon
Name: Name, dtype: object

In [143]:
pokemon = pd.read_csv("pokemon.csv", index_col=["Name"]).squeeze("columns")
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [147]:
pokemon.loc["Bulbasaur"] = "Awesomeness"

In [149]:
pokemon.head()

Name
Bulbasaur       Awesomeness
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [151]:
pokemon.iloc[1] = "Silly"

In [153]:
pokemon.head()

Name
Bulbasaur       Awesomeness
Ivysaur               Silly
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [155]:
pokemon["Bulbasaur"] = "something else"
pokemon.head()

Name
Bulbasaur     something else
Ivysaur                Silly
Venusaur       Grass, Poison
Charmander              Fire
Charmeleon              Fire
Name: Type, dtype: object

In [159]:
pokemon[1] = "Something different"
pokemon.head()

/var/folders/jr/_s2j1wdn0fqbpv0l1vk4sm400000gn/T/ipykernel_1251/4115727560.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  pokemon[1] = "Something different"

Name
Bulbasaur          something else
Ivysaur       Something different
Venusaur            Grass, Poison
Charmander                   Fire
Charmeleon                   Fire
Name: Type, dtype: object

## The copy Method
- A **copy** is a duplicate/replica of an object.
- Changes to a copy do not modify the original object.
- A **view** is a different way of looking at the *same* data.
- Changes to a view *do* modify the original object.
- The `copy` method creates a copy of a pandas object.

In [165]:
pokemon_df = pd.read_csv("pokemon.csv", usecols=["Name"])
pokemon_series = pokemon_df.squeeze("columns")

In [169]:
pokemon_df

              Name
0        Bulbasaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

In [171]:
pokemon_series

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [173]:
pokemon_series[0] = "Whatever"

In [175]:
pokemon_series

0           Whatever
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [177]:
pokemon_df # A series is a view of a dataframe, if i modify the series i will modify the dataframe

              Name
0         Whatever
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

In [180]:
pokemon_df = pd.read_csv("pokemon.csv", usecols=["Name"])
pokemon_series = pokemon_df.squeeze("columns").copy()

In [188]:
pokemon_series[0] = "Whatever"
pokemon_series

0           Whatever
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [186]:
pokemon_df

              Name
0        Bulbasaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

## Math Methods on Series Objects
- The `count` method returns the number of values in the **Series**. It excludes missing values; the `size` attribute includes missing values.
- The `sum` method adds together the **Series's** values.
- The `product` method multiplies together the **Series's** values.
- The `mean` method calculates the average of the **Series's** values.
- The `std` method calculates the standard deviation of the **Series's** values.
- The `max` method returns the largest value in the **Series**.
- The `min` method returns the smallest value in the **Series**.
- The `median` method returns the median of the **Series** (the value in the middle).
- The `mode` method returns the mode of the **Series** (the most frequent alue).
- The `describe` method returns a summary with various mathematical calculations.

In [191]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [198]:
google.count() #Exclude missing values
google.size

4793

In [222]:
google.sum()
google.product()
pd.Series([1, 2, 3]).product()
google.mean()
google.std()
google.min()
google.max()
google.median()
google.mode()
pd.Series([1, 2, 3, 3, 4]).mode()
google.describe()

/opt/anaconda3/envs/Pandas_Course/lib/python3.12/site-packages/numpy/_core/_methods.py:56: RuntimeWarning: overflow encountered in reduce
  return umr_prod(a, axis, dtype, out, keepdims, initial, where)

count    4793.000000
mean       40.211377
std        37.274753
min         2.470490
25%        12.767395
50%        26.327717
75%        56.311001
max       151.863495
Name: Price, dtype: float64

In [226]:
x = google.describe()
x.loc["count"]

np.float64(4793.0)

In [228]:
x["75%"]

np.float64(56.311001)

## Broadcasting
- **Broadcasting** describes the process of applying an arithmetic operation to an array (i.e., a **Series**).
- We can combine mathematical operators with a **Series** to apply the mathematical operation to every value.
- There are also methods to accomplish the same results (`add`, `sub`, `mul`, `div`, etc.)

In [230]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [246]:
google.add(10)
google + 10

google.sub(30)
google - 30

google.mul(1.25)
google * 1.25

google.div(2)
google / 2

0        1.245332
1        1.257910
2        1.379206
3        1.385307
4        1.307100
          ...
4788    66.040001
4789    66.499000
4790    67.785004
4791    68.525002
4792    69.214996
Name: Price, Length: 4793, dtype: float64

## The value_counts Method
- The `value_counts` method returns the number of times each unique value occurs in the **Series**.
- The `normalize` parameter returns the relative frequencies/percentages of the values instead of the counts.

In [248]:
pokemon = pd.read_csv("pokemon.csv", index_col=["Name"]).squeeze("columns")
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [256]:
pokemon.value_counts()
pokemon.value_counts(ascending=True)
pokemon.value_counts(normalize=True) * 100

Type
Water               7.326733
Normal              7.326733
Grass               4.554455
Psychic             3.861386
Fire                3.564356
                      ...
Fighting, Ice       0.099010
Fire, Dragon        0.099010
Normal, Dragon      0.099010
Psychic, Steel      0.099010
Fighting, Dragon    0.099010
Name: proportion, Length: 200, dtype: float64

## The apply Method
- The `apply` method accepts a function. It invokes that function on every `Series` value.

In [260]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [262]:
pokemon.apply(len)

0        9
1        7
2        8
3       10
4       10
        ..
1005    12
1006     8
1007     8
1008    12
1009    11
Name: Name, Length: 1010, dtype: int64

In [266]:
def count_of_a(pokemon):
    return pokemon.count("a")

count_of_a("sergio alba")

pokemon.apply(count_of_a)

0       2
1       1
2       1
3       2
4       1
       ..
1005    2
1006    1
1007    1
1008    2
1009    1
Name: Name, Length: 1010, dtype: int64

## The map Method
- The `map` method "maps" or connects each **Series** values to another value.
- We can pass the method a dictionary or a **Series**. Both types connects keys to values.
- The `map` method uses our argument to connect or bridge together the values.

In [272]:
pokemon = pd.read_csv("pokemon.csv", index_col=["Name"]).squeeze("columns")
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [274]:
attack_powers = {
    "Grass": 10,
    "Fire": 15,
    "Fairy, Fighting": 20,
    "Grass, Psychic": 50
}

In [284]:
pokemon.map(attack_powers)

Name
Bulbasaur        NaN
Ivysaur          NaN
Venusaur         NaN
Charmander      15.0
Charmeleon      15.0
                ...
Iron Valiant    20.0
Koraidon         NaN
Miraidon         NaN
Walking Wake     NaN
Iron Leaves     50.0
Name: Type, Length: 1010, dtype: float64

In [290]:
attack_powers = pd.Series({
    "Grass": 10,
    "Fire": 15,
    "Fairy, Fighting": 20,
    "Grass, Psychic": 50
})
attack_powers

Grass              10
Fire               15
Fairy, Fighting    20
Grass, Psychic     50
dtype: int64

In [292]:
pokemon.map(attack_powers)

Name
Bulbasaur        NaN
Ivysaur          NaN
Venusaur         NaN
Charmander      15.0
Charmeleon      15.0
                ...
Iron Valiant    20.0
Koraidon         NaN
Miraidon         NaN
Walking Wake     NaN
Iron Leaves     50.0
Name: Type, Length: 1010, dtype: float64

In [302]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [308]:
dict(
    {"1": 1, "1": 2}
    
)

{'1': 2}